<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.png" %>
  </div>
 
  <div id="content">
    <h1>I'm Nate Ward</h1>
    <p> I am building this blog to practice Ruby on Rails!</p>
  </div>
</div>