<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <div id="sidebar">
      
        <%= link_to root_path do %>
          <%= image_tag "profile.png" , :class => "style_image" %>
        <% end %>
      
 
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
 
      <ul>
       <li class="category"></li>
       <li></li>
       
      </ul>
 
      <% if !user_signed_in? %>
        <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
      <% end %>
    </div>
 
 <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All Posts</p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Back to All Posts", root_path %>
      <% end %>
      
      <% if user_signed_in? %>
        <div class="buttons">
          <%= link_to "New Post", new_post_path, :class => "button" %>
        <%= link_to "Log Out", destroy_user_session_path, :class => "button", method: :delete =%>
        </div>
      <% end %> 

    </div>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
 
    <%= yield %>
  </div>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>
</html>